.wrapper {
  position: absolute;
  inset: 0;
  height: 100dvh;
  width: 100%;
  z-index: 100;
}

.close {
  background: none;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 750px;
  padding: 2rem;
  border-radius: 8px;
  background: var(--white);
  color: var(--black);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  font-weight: 400;
}

.footer {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
