button {
  width: auto;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  line-height: normal;
  border-radius: 4px;
  color: #fff;
  background: #42d9c8;

  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.white {
  border-radius: 8px;
  background: #fff;
  color: #6c6c6c;
}

.turquoise {
  background: #42d9c8;
}

.gray {
  background: #acacac;
}
