.dialogContent {
  width: 750px;
  height: 629px;
  padding: 40px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dialogTitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--black);
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 16px;
  width: 100%;
  margin: 0 auto;
}

.formGroup input {
  margin-top: 7px;
  border: 1px solid var(--grayform);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  height: 37px;
  color: #c4c4c4;
  background-color: var(--white);
  transition: border-color 0.2s ease;
}

.required {
  color: var(--alert);
  margin-left: 4px;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: var(--black);
}

p {
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}
