.filtercontainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  gap: 12px;
  margin-top: 32px;
  user-select: none;
}

.querys {
  width: 65%;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

.filtercontainer h3 {
  margin: auto 10px auto 0;
}

.buttons {
  width: 178px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.searchbtn {
  display: flex;
}

.buttons img {
  margin: auto 2px;
}

@media (max-width: 1080px) {
  .filtercontainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    align-self: flex-end;
    margin-top: 12px;
  }
}

@media (max-width: 345px) {
  .querys h3 {
    width: 212px;
  }
  .querys {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 12px;
  }

  .querys > input,
  select {
    width: 212px;
  }

  .buttons {
    width: 212px;
    justify-content: space-between;
  }
}
