.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100dvh;
  overflow: hidden;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2rem;
  justify-items: center;
}
