.pagination {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  margin-top: 25px;
  padding: 2rem 0;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  list-style: none;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 8px;
  border: 0.1px solid transparent;
  cursor: pointer;
  color: var(--white);

  &:hover {
    background-color: rgb(59, 59, 59);
    color: var(--white);
  }
}

.ghost {
  background-color: transparent;
  /* color: #bdbdbd; */
  border: none;
}

.outline {
  background-color: rgb(59, 59, 59);
  color: var(--white);
}

.previous {
  gap: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.arrowLeft {
  margin-right: 12px;
}

.arrowRight {
  margin-left: 12px;
}

@media (min-width: 640px) {
  .previous {
    padding-left: 0.625rem;
  }
}

.next {
  gap: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media (min-width: 640px) {
  .next {
    padding-right: 0.625rem;
  }
}

.span-previous-next {
  display: none;
}

@media (min-width: 640px) {
  .span-previous-next {
    display: block;
  }
}

.ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.25rem;
  height: 2.25rem;

  cursor: default;

  color: #bdbdbd;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
