.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding-bottom: 2rem;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 16px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
}

.line {
  height: 1px;
  background-color: var(--graydialogbox);
  position: absolute;
  bottom: 1rem;
  left: 1.875rem;
  right: 1.875rem;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  transition: left 0.3s ease;
  margin-left: 30px;
}

.arrowIcon {
  width: 18px;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.texts {
  margin-left: 30px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
