.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding-bottom: 1rem;
  align-items: flex-start;
  box-sizing: border-box;
  margin-top: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1150px;
  user-select: none;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
  word-break: break-word;
}

.line {
  height: 1px;
  background-color: var(--graydialogbox);
  position: absolute;
  bottom: 1rem;
  left: 2.1rem;
  right: 2.1rem;
  width: 100%;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  transition: left 0.3s ease;
  margin-left: 1rem;
}

.arrowIcon {
  width: 18px;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.texts {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .header {
    align-items: stretch;
    margin-top: 8px;
  }

  .title {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }

  .toggleBtn {
    display: none;
  }

  .texts {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }

  .line {
    left: 0.5rem;
    right: 0.5rem;
  }
}
