.cardContainer {
  display: grid;
  grid-template-columns:
    110px 150px 200px 120px 140px 100px 20px 86px;
  align-items: center;
  background-color: #fff;
  padding: 0 14px;
  min-height: 85px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 12px auto;
  max-width: 1110px;
  gap: 10px;
  box-sizing: border-box;
  justify-content: space-around;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.cardImage {
  width: 65px;
  height: 55px;
  border-radius: 8px;
  object-fit: cover;
}

.cardTexts {
  display: contents;
}

.cardTexts span {
  font-size: 14px;
  color: #000;
  /* text-align: center; */
  /* word-break: break-word; */
}

.cardIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  grid-column: 8;
}

.icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
}
